{% extends "base.html" %}

{% block body %}
<table class="table" id="mainTalbe">
    <thead>
        <tr>
            <th>ПІБ</th>
            <th>Email</th>
            <th>Телефон</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.name }}</td>
                <td>{{ application.email }}</td>
                <td>{{ application.phone }}</td>
                <td>
                    <a href="/applications/delete/{{ application.pk }}">Видалити</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}